<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

<!-- 
	<ul class="breadcrumb">
		<li><i class="ace-icon fa fa-life-saver home-icon"></i> <a
			href="#">汉字相似度打分系统</a></li>
	</ul> -->
	<div class="center" style="font-size:20px;">汉字相似度打分系统</div>
</div>
<div class="row" id="article">
	<div class="col-xs-12 col-sm-5">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">课文</h4>
				<div class="widget-toolbar">

					<label>课文</label><select id="articleTitle"
						onchange="selectArticle()">
						<option class="alert alert-success" value="">--请选择课文--</option>
						#foreach($atricle in $TEXTLIST)
						<option name='$!{atricle.gettype2()}' value='$!{atricle.getId()}'>$!{atricle.getTitle()}</option>
						#end
					</select> <a href="#" data-action="collapse"> <i
						class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<!-- 
			<div class="widget-body">
				<div class="widget-main">
					<div class="scrollable" data-height="125">
						<div class="content">
							<label class="hidden" id="articleId">$!{article.getId()}</label>
							<h3 class="center" >$!{article.getTitle()}</h3>
							<div>$!{article.getContent()}</div>
						</div>
					</div>

				</div>
			</div>
			 -->
		
			<div class="widget-body">
				<div class="widget-main">
		<div class="alert alert-warning myalert">
			<p><div class="glyphicon glyphicon-info-sign"></div>请根据汉字的字型、字音以及字意的特点，针对题目中目标字，对后选项汉字进行相似度打分，以下内容为打分策略和标准。</p>

			<p><div class="glyphicon glyphicon-bell"></div><strong> 打分策略： </strong></p>
			<p>1、先给最像与最不像的汉字进行相识度打分。</p>
			<p>2、已打过分的汉字，可以作为参考点，帮助其他汉字打分。</p>
			<p>3、判断相似度时首先关注字形复杂程度，然后关注笔画走势，最后关注发音和语义。</p>
			<p>4、总体来说，2-4分更侧重字形，0-1分不作侧重。</p>

			<p><div class="glyphicon glyphicon-bell"></div><strong> 打分标准：</strong></p>
			<p><span>0分</span>：该字的复杂程度、笔画走势、发音、语义都与原字不相似。eg:准/况；罗/署</p>
			<p>1分：复杂程度略相似，笔画走势相似，发音相似，语义相似。（具备其中一个条件既可）eg:朦/臃（复杂程度）；尺/展（笔画走势）；阴/隐（发音）；胸/膛(语义)</p>
			<p>2分：复杂程度很相似，笔画走势相似，发音相似，语义相同或相近或相关。（具备其中两个条件，且前两个条件必须具备其中一个）eg:绕/绒(笔画走势、发音)；膀/膊（复杂程度、语义）</p>
			<p>3分：复杂程度很相似，笔画走势相似，发音相似，语义相同或相近或相关。（具备其中三个条件，且前两个条件必须具备）eg:纱/纶（复杂程度、笔画走势、语义）；晓/晚（复杂程度、笔画走势、语义）</p>
			<p>4分：复杂程度很相似，笔画仅有细微差别，发音相似，语义相同或相近或相关。（全部具备）eg:小/少；戊/戍</p>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- /.span 课文部分结束-->
	<div class="col-xs-12 col-sm-7">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">问题</h4>
				<div class="widget-toolbar">
					<a href="#" data-action="settings"> <i
						class="ace-icon fa fa-cog"></i>
					</a> <a href="#" data-action="reload"> <i
						class="ace-icon fa fa-refresh"></i>
					</a> <a href="#" data-action="collapse"> <i
						class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="widget-body">
				<div class="widget-main" id="article">
					#foreach($question in $questionList)
					<div class="row">
						<label>$!{question.getQuestion()}</label>
						<div class="col-xs-12 col-sm-8">


							<label>字</label> <label class="lab"> <input
								name="form-field-radio" type="radio" class="adio" /> <span
								class="lbl">1分</span>
							</label> <label class="lab"> <input name="form-field-radio"
								type="radio" class="adio" /> <span class="lbl">2分</span>
							</label> <label class="lab"> <input name="form-field-radio"
								type="radio" class="adio" /> <span class="lbl">3分</span>
							</label> <label class="lab"> <input name="form-field-radio"
								type="radio" class="adio" /> <span class="lbl">4分</span>
							</label> <label class="lab"> <input name="form-field-radio"
								type="radio" class="adio" /> <span class="lbl">5分</span>
							</label>


						</div>
					</div>
					#end
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
</div>

<script
	src="${request.getContextPath()}/resources/js/random-atricle-select.js"></script>
<script src="${request.getContextPath()}/resources/js/random-score.js"></script>
